<ion-header>
  <ion-toolbar>
    <ion-title class= "ion-text-capitalize">Register</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form
  [formGroup]="formRegister">
  <ion-grid>
    <ion-row>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text"
          formControlName="name"
          placeholder="introduce Tu nombre"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"
          formControlName="email"
          placeholder="introduce el email aqui"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
          type="password"
          formControlName="password"
          placeholder="Introduce la contraseña "></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button [disabled]="formRegister.invalid" (click)="register()" expand="block" >Login</ion-button>
      </ion-col>
    </ion-row>



  </ion-grid>

</form>
</ion-content>
