<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>All product</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Administrar Producto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Administrar categoria</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="profile"></ion-icon>
      <ion-label>Profile-user</ion-label>
    </ion-tab-button>

  </ion-tab-bar>



</ion-tabs>
